
body{
  margin: auto;
  padding: 10px;
  position: relative;
  height: 10vh;
  
    background-image: url("img/back2.png");
    background-color: #cccccc;
   

}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9px;
  padding-right: 9px;
  padding-left: 9px;
  height: 90px;
  background-color:white;
  border-radius: 8px;
  margin-bottom: 9px;

}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container {

 margin-top: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  
}


footer{
  position: relative;
  height: 10vh;
}

.topnav {
  overflow: hidden;
  margin-top: 30px;
width: 420px;
height: auto;
position: absolute;
left: 50%;
right: 50%;
transform: translate(-50%, -50%);
text-align: center;
  background-color: #333;
  display:inline-block;
  overflow: hidden;
  border-radius: 7px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 7px;
}

.topnav a:hover {
  background-color:#45a049;
  color: white;
  border-radius: 7px;
  transition: 0.3s;
  
}

.topnav a.active {
  background-color:  #4546a0;
  color: white;
}

.topnav .icon {
  display: none;
}
/*
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
*/
